body {
	font-family: 'Droid sans', sans-serif;
	margin: 0px;
	font-size: 13pt;
	margin: 0px;
	color: #2f353b;
}

/**
 * Also in the new design, we have to add .blink to keep Joshua happy :)
 */
.blink {
	text-decoration: blink;
}

/**
 * The navigation menu.
 */
nav {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	background: transparent url('images/nav-bg.png') repeat-x;
	height: 62px;
	z-index: 1;
}

nav ol, footer ol {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	width: 1024px;
	margin: 0px auto;
}

nav li, footer li {
	float: left;
	height: 49px;
	line-height: 49px;
	padding-left: 65px;
	font-size: 13pt;
}

nav a, footer a {
	color: #c7def6;
	text-decoration: none;
}

/**
 * The fork-me banner on the right.
 */
#fork-me {
	background: transparent url('images/fork-me.png') no-repeat;
	position: fixed;
	right: 0px;
	top: 0px;
	height: 149px;
	width: 149px;
	z-index: 2;
}

/**
 * Reusable styles for each section.
 */
section {
	background: transparent url('images/section-gradient.png') repeat-x;
	min-height: 500px;
	padding: 2em 0px;
}

.content {
	width: 900px;
	margin: 0px auto;
	position: relative;
	overflow: hidden;
}

h2 {
	margin-top: 50px;
}

a {
	color: #387abb;
}

.code {
	color: #387abb;
}

/**
 * Style for the "home" section.
 */
#home {
	background: transparent url('images/home-gradient.png') repeat-x;
	margin-top: 49px;
	height: 530px;
}

#home .content {
	overflow: visible;
}

#home header {
	width: 450px;
	margin: 0px auto;
	overflow: hidden;
	padding-top: 115px;
}

#home h1, #home h2 {
	text-transform: lowercase;
}

#home h1 {
	margin: 0px;
	font-size: 140px;
	float: right;
}

#home h2 {
	font-size: 36px;
	color: #387abb;
	float: right;
	margin: -20px 0px 0px 0px;
}

#logo {
	position: absolute;
	right: 0px;
}

p.hello-world {
	font-weight: bolder;
	font-size: 30px;
	padding-top: 40px;
}

p.hello-world em {
	font-style: normal;
	color: #387abb;
}

footer {
	background-color: #2f353b;
	width: 100%;
	height: 100px;
	background: #2f353b url('images/footer-bg.png') repeat-x;
}

/**
 * The following is for syntax highlighting.
 */
.source {
	font-family: "Lucida Console", "Monaco", monospace;
	color: #000;
	background: #f1f1f1;
	padding: 10px;
	border: 1px solid #d1d1d1;
	overflow: auto;
}

.source.saffire .comment {
	color: #666;
}

.source.saffire .keyword {
	color: #387ABB;
}

.source.saffire .identifier {
	color: #070;
}

.source.saffire .string {
	color: #BC3838;
}

.source.saffire .number {
	color: #BC38BC;
}

.source.saffire .operator {
	color: #3838BC;
}

.source.saffire .regex {
	color: #BC38BC;
}

/**
 * CSS stuff for codepad.
 */
#codepad h1 {
	margin-top: 60px;
	font-size: 40pt;
}
.pastes {
	width: 630px;
	float: left;
}

.recent {
	width: 250px;
	float: right;
}

form ol {
	padding-left: 0px;
	list-style-type: none;
}

form li {
	clear: both;
	margin: 10px 0px;
	float: left;
}

form label {
	width: 200px;
	height: 30px;
	line-height: 30px;
	display: block;
	float: left;
}

form input, form select {
	width: 200px;
	float: left;
	height: 30px;
	line-height: 30px;
	font-family: 'Droid sans', sans-serif;
	font-size: 12pt;
}

form select, form .submit {
	width: 205px;
}

form .submit {
	margin-left: 200px;
}
