body {
	font-family: 'Droid sans', sans-serif;
	margin: 0px;
	background-color: #efefef;
	font-size: 15pt;
}

nav {
	position: fixed;
	left: 950px;
}

#actions {
	list-style-type: none;
	padding: 0px;
	width: 250px;
	margin-top: 0px;
}

#actions li {
	margin-bottom: 10px;
}

#actions a {
	height: 50px;
	line-height: 50px;
	text-align: center;
	width: 250px;
	display: block;
	margin-top: 1px;
	background-color: #408AD4;
	border-radius: 15px;
	color: #fff;
	text-decoration: none;
	font-size: 20px;
}

h1 {
	font-size: 90px;
	margin-top: 50px;
	background: url(images/saffire-logo-small-glow.png) no-repeat 70px 25px;
	padding-left: 180px;
}

h1 span {
	color: #408AD4;
}

h1, h2 {
	text-shadow: 2px 2px 2px #fff;
	font-weight: bold;
	color: #6E6E6E;
}

h1 span, h2 span {
	color: #408AD4;
}

h2 {
	font-size: 70px;
	margin-top: 76px;
}

#home {
	margin-top: 0px;
}

#logo {
	margin-right: 5px;
}

.code {
	font-family: "Lucida Console", "Monaco", monospace;
	font-size: 10pt;
    background-color: #dddddd;
	padding: 5px;
}

a {
	color: #D44040;
}

article {
	margin-top: 400px;
	min-height: 900px;
	background: #efefef url(images/background.jpg) repeat-x;
	width: 100%;
}

.content {
	width: 980px;
	margin: 0px auto;
	overflow: hidden;
}

.block {
	background-color: #FFFFFF;
	border: 1px solid #6E6E6E;
	padding: 0px 15px;
	width: 650px;
}

/**
 * Yes. Blink. Only here to please Joshua, really.
 */
.blink {
	text-decoration: blink;
}


.top {
	margin-top: 10px;
	font-weight: bolder;
	display: block;
}